@page "/"

@if (!string.IsNullOrWhiteSpace(SiteState.CurrentProblem.Answer))
{
    <h1>@SiteState.CurrentProblem.Answer</h1>
    @foreach(string imageURL in SiteState.CurrentProblem.Images)
    {
        <img src="@imageURL"/>
    }
}
else
{
    <h1>The problem has not been answered yet provide one here CLICK</h1>
}