@if (SiteState.DisplayBookMenu)
{
    <div style="z-index: 10; position: fixed; top: 56px; left: 0; height: 60vh; width: 60vw; background-color: white; border: 1px solid black; box-shadow: 10px 10px 5px grey;">

    </div>
}