<div @onmouseover="(() => IsHovered = true)" @onmouseout="(() => IsHovered = false)" style="cursor: pointer; @IsHoveredCSS" @onclick="(() => { SiteState.CurrentBookTitle = BookTitle; SiteState.CurrentBook = InternalBookTitle; SiteState.DisplayBookMenu = false; })">
    @BookTitle
</div>