@inherits LayoutComponentBase
@inject SiteState SiteState


<div class="main" style="position: relative;">
    <SideMenu/>

    <div class="top-row" style="padding-left: 5px !important; justify-content: space-between;">
        <div style="border-right: 1px solid black; height: 100%; padding-right: 5px;"><span class="oi oi-list-rich" style="position: inherit; top: inherit; line-height: normal; font-size: 45px; cursor: pointer;" aria-hidden="true" @onclick="(() => SiteState.DisplaySideMenu = !SiteState.DisplaySideMenu)"></span></div>
        <PreviousQuestion/><DisplayCurrentItems/><NextQuestion/>
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>