@using Models

<div @onclick="(() => IsCollapsed = !IsCollapsed)" style="cursor: pointer; width: 100%; border: 1px solid black;">
    Chapter @SectionTitle
    @if (IsCollapsed)
    {
        <span class="oi oi-caret-bottom" aria-hidden="true"></span>
    }
    else
    {
        <span class="oi oi-caret-top" aria-hidden="true"></span>
    }
</div>
@if (!IsCollapsed)
{
    <div @onclick="(() => SiteState.CurrentSectionTitle = SectionTitle)">
        @foreach (Problem problem in ProblemRepository.GetProblems(SiteState.CurrentBook, SectionTitle))
        {
            <SideMenuProblem Problem="problem" />
        }
    </div>
}