@if (SiteState.DisplaySideMenu)
{
    <div style="position: absolute; background-color:aquamarine; top:56px; height: 80vh; width: auto; overflow-y: scroll;">
        <SideMenuChapter SectionTitle="1.1" />
        <SideMenuChapter SectionTitle="1.2" />
        <SideMenuChapter SectionTitle="1.3" />
        <SideMenuChapter SectionTitle="1.4" />
        <SideMenuChapter SectionTitle="1.5" />
        <SideMenuChapter SectionTitle="1.6" />
        <SideMenuChapter SectionTitle="1.7" />
        <SideMenuChapter SectionTitle="2.R" />
        <SideMenuChapter SectionTitle="2.1" />
        <SideMenuChapter SectionTitle="2.2" />
        <SideMenuChapter SectionTitle="2.3" />
        <SideMenuChapter SectionTitle="2.4" />
        <SideMenuChapter SectionTitle="2.5" />
        <SideMenuChapter SectionTitle="2.6" />
        <SideMenuChapter SectionTitle="2.7" />
        <SideMenuChapter SectionTitle="2.8" />
        <SideMenuChapter SectionTitle="3.R" />
        <SideMenuChapter SectionTitle="3.1" />
        <SideMenuChapter SectionTitle="3.2" />
        <SideMenuChapter SectionTitle="3.3" />
        <SideMenuChapter SectionTitle="3.4" />
        <SideMenuChapter SectionTitle="3.5" />
        <SideMenuChapter SectionTitle="3.6" />
        <SideMenuChapter SectionTitle="3.7" />
        <SideMenuChapter SectionTitle="3.8" />
        <SideMenuChapter SectionTitle="3.9" />
        <SideMenuChapter SectionTitle="4.R" />
        <SideMenuChapter SectionTitle="4.1" />
        <SideMenuChapter SectionTitle="4.2" />
        <SideMenuChapter SectionTitle="4.3" />
        <SideMenuChapter SectionTitle="4.4" />
        <SideMenuChapter SectionTitle="4.5" />
        <SideMenuChapter SectionTitle="4.6" />
        <SideMenuChapter SectionTitle="4.7" />
        <SideMenuChapter SectionTitle="4.8" />
        <SideMenuChapter SectionTitle="5.R" />
        <SideMenuChapter SectionTitle="5.1" />
        <SideMenuChapter SectionTitle="5.2" />
        <SideMenuChapter SectionTitle="5.3" />
        <SideMenuChapter SectionTitle="5.4" />
        <SideMenuChapter SectionTitle="5.5" />
        <SideMenuChapter SectionTitle="5.6" />
        <SideMenuChapter SectionTitle="5.7" />
        <SideMenuChapter SectionTitle="5.8" />
        <SideMenuChapter SectionTitle="5.9" />
        <SideMenuChapter SectionTitle="5.10" />
        <SideMenuChapter SectionTitle="6.R" />
        <SideMenuChapter SectionTitle="6.1" />
        <SideMenuChapter SectionTitle="6.2" />
        <SideMenuChapter SectionTitle="6.3" />
        <SideMenuChapter SectionTitle="6.4" />
        <SideMenuChapter SectionTitle="6.5" />
        <SideMenuChapter SectionTitle="6.6" />
        <SideMenuChapter SectionTitle="6.7" />
        <SideMenuChapter SectionTitle="6.8" />
        <SideMenuChapter SectionTitle="7.R" />
        <SideMenuChapter SectionTitle="7.1" />
        <SideMenuChapter SectionTitle="7.2" />
        <SideMenuChapter SectionTitle="7.3" />
        <SideMenuChapter SectionTitle="7.4" />
        <SideMenuChapter SectionTitle="7.5" />
        <SideMenuChapter SectionTitle="7.6" />
        <SideMenuChapter SectionTitle="8.R" />
        <SideMenuChapter SectionTitle="8.1" />
        <SideMenuChapter SectionTitle="8.2" />
        <SideMenuChapter SectionTitle="8.3" />
        <SideMenuChapter SectionTitle="8.4" />
        <SideMenuChapter SectionTitle="8.5" />
        <SideMenuChapter SectionTitle="8.6" />
        <SideMenuChapter SectionTitle="8.7" />
        <SideMenuChapter SectionTitle="8.8" />
        <SideMenuChapter SectionTitle="9.R" />
        <SideMenuChapter SectionTitle="9.1" />
        <SideMenuChapter SectionTitle="9.2" />
        <SideMenuChapter SectionTitle="9.3" />
        <SideMenuChapter SectionTitle="9.4" />
        <SideMenuChapter SectionTitle="9.5" />
        <SideMenuChapter SectionTitle="9.6" />
        <SideMenuChapter SectionTitle="9.7" />
        <SideMenuChapter SectionTitle="10.R" />
        <SideMenuChapter SectionTitle="10.1" />
        <SideMenuChapter SectionTitle="10.2" />
        <SideMenuChapter SectionTitle="10.3" />
        <SideMenuChapter SectionTitle="10.4" />
        <SideMenuChapter SectionTitle="10.5" />
        <SideMenuChapter SectionTitle="11.R" />
        <SideMenuChapter SectionTitle="11.1" />
        <SideMenuChapter SectionTitle="11.2" />
        <SideMenuChapter SectionTitle="11.3" />
        <SideMenuChapter SectionTitle="11.4" />
        <SideMenuChapter SectionTitle="11.5" />
        <SideMenuChapter SectionTitle="11.6" />
        <SideMenuChapter SectionTitle="11.7" />
        <SideMenuChapter SectionTitle="11.8" />
        <SideMenuChapter SectionTitle="12.R" />
        <SideMenuChapter SectionTitle="12.1" />
        <SideMenuChapter SectionTitle="12.2" />
        <SideMenuChapter SectionTitle="12.3" />
        <SideMenuChapter SectionTitle="12.4" />
        <SideMenuChapter SectionTitle="12.5" />
        <SideMenuChapter SectionTitle="12.6" />
        <SideMenuChapter SectionTitle="12.7" />
        <SideMenuChapter SectionTitle="12.8" />
        <SideMenuChapter SectionTitle="12.9" />
        <SideMenuChapter SectionTitle="13.R" />
        <SideMenuChapter SectionTitle="13.1" />
        <SideMenuChapter SectionTitle="13.2" />
        <SideMenuChapter SectionTitle="13.3" />
        <SideMenuChapter SectionTitle="13.4" />
        <SideMenuChapter SectionTitle="13.5" />
        <SideMenuChapter SectionTitle="13.6" />
        <SideMenuChapter SectionTitle="13.7" />
        <SideMenuChapter SectionTitle="13.8" />
    </div>
}