@if (SiteState.DisplaySideMenu)
{
    <div style="padding-left: 0 !important; padding-right: 0 !important; position: absolute; background-color:aquamarine; top:112px; height: 80vh; width: auto; overflow-y: scroll;">
        @foreach(string sectionTitle in ProblemRepository.GetSectionTitles(SiteState.CurrentBook))
        {
            <SideMenuChapter SectionTitle="@sectionTitle"/>
        }
    </div>
}