@if (SiteState.DisplaySideMenu)
{
    <div style="position: absolute; background-color:aquamarine; top:56px; height: 80vh; width: auto;">
        <SideMenuChapter />
        <SideMenuChapter />
        <SideMenuChapter />
        <SideMenuChapter />
        <SideMenuChapter />
        <SideMenuChapter />
        <SideMenuChapter />
        <SideMenuChapter />
        <SideMenuChapter />
        <SideMenuChapter />
        <SideMenuChapter />
        <SideMenuChapter />
        <SideMenuChapter />
        <SideMenuChapter />
        <SideMenuChapter />
    </div>
}